[packages]
fuzzywuzzy = '*'
google-api-python-client = '*'
google-auth-oauthlib = '*'
python-dateutil = '*'
python-levenshtein = '*'
pytz = '*'
requests = '*'
requests-oauthlib = '*'
tqdm = '*'
slugify = "*"

[dev-packages]
mypy = '*'

[requires]
python_version = '3.7'

[scripts]
upload = 'python -m vidpub --upload'
playlist = 'python -m vidpub --playlist'
